@import "tailwindcss";
@plugin "daisyui";
@custom-variant dark (&:where(.dark, .dark *));



html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

.cursor-dot {
  padding: 5px; 
  width: 33px; 
  height: 33px;
  
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  pointer-events: none;
  border: 1.5px solid rgb(255, 128, 2); 
  background: transparent;

  transform: translate(-50%, -50%);
  transition: transform 0.1s ease-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cursor-dot::after {
  content: "";
  width: 6px; 
  height: 6px;
  background-color: rgba(255, 0, 0, 1); 
  border-radius: 50%;
}

